node-red-kalibrierung
[
    {
        "id": "3d2a81e3c1ae2c8c",
        "type": "tab",
        "label": "Solarflow",
        "disabled": false,
        "info": "# Herbeiführen einer Kalibrierung und Überwachung der Zellspannung\r\n## Ziel\r\nLiFePO-Akkus müssen regelmäßig kalibriert werden. Dies bedeutet ein Zellabgleich ist herbeizuführen durch das LAden der Akkus auf 100%.\r\nEs gibt in den Zendure Systemen (SF1200/SF2000) aber keinen Mechanismus, der dies automatisch organisiert. \r\nErzwungen kann das Laden auf 100% nur (insbesondere im WInter) durch Deaktivieren aller Einspeisemodis.\r\n\r\nMein Ziel war es über eine externe Automatisierung die Ladung auf 100% zu erzwingen, wenn x Tage (x = konfigurierbar) kein Zellableich stattgefunden hat.\r\nWenn x Tage keine Kalibierung stattfand, wird die Einspeisung über den Wechselrichter unterbunden. Damit findet keine Entladung statt. Jegliche Energie der Panels wird in die Akkus eingespeist. \r\nNach Erreichen der 100% Grenze wird die Einspeisung wieder freigegeben.\r\n\r\nDa der SOC sehr unzuverlässig ist, wollte ich zusätzlich die minimale Zellspannung überwachen und die Einspeisung stoppen bei Unterschreitung eines definierten Wertes.\r\n\r\n## Disclaimer\r\nDues ist ein experimentelles Projekt.Anwendung auf eigene Gefahr.\r\nAnpassungen werden ggf erforderlich sein bezugnehmend auf Eure Gesamtkonfiguration.\r\n\r\n## Meine Konfiguration\r\n - SF1200\r\n - AB2000\r\n - Hoymiles HM8002T\r\n - Shelly 3EM\r\n\r\n## Voraussetzungen\r\n - eine Home Assistent Installation\r\n - eine Node-Red HA-Installation (über Addon)\r\n - eine Hoymiles Integration (https://github.com/suaveolent/ha-hoymiles-wifi)\r\n - eine Zendure Integration (https://www.justiot.de/smart-home/anleitung-zendure-solarflow-superbase-in-home-assistent-einbinden/)\r\n      - Wichtig ist die Einbindugn der MQTT-Daten von Zendure, dies gelingt mit der vorliegenden Beschreibung \r\n      - eine sehr gute Beschreibung findet sich auch hier: https://github.com/z-master42/solarflow/wiki/Einbindung-in-Home-Assistant\r\n - Optional: für das Auslesen der Zellspannungen _minVol_ sind Anpassungen an der mqtt.yaml im HA vorzunehmen.\r\n\r\nFür _min_vol_ müssen Anpassungen an der MQTT.yaml vorgenommen werden, um die Daten aus dem MQTT-packdata-String herauszulösen.\r\nEine MQTT.yaml ist im Codebereich angefügt und enthält die Werte minVol, maxVol, SOC Level und Akkutemperatur. (Danke an bzach)\r\nErsetzt werden müssen in der MQTT.yaml folgende Strings mit Euren Daten !!!\r\n\r\n - deviceID\r\n - appKey/deviceID\r\n - EurePVHubSeriennummer\r\n \r\nWenn Ihr obige Voraussetzungen abgearbeitet habt, dann habt Ihr diese Werte bereits schon verfügbar.\r\n\r\nNicht vergessen!! eine Zeile in die configuration.yaml im Home Assistent zu setzen:\r\n\r\nmqtt: !include mqtt.yaml\r\n\r\n## Vorbereitungen im HA\r\nIm HomeAssistent sind zwei Helfervariablen anzulegen:\r\n - Anlegen einer numerischen Helfervariable (_Letzte Kalibrierung_). Diese Variable gibt die Anzahl der Tage wieder, die vergangen sind, seit der letzten Kalibierung.\r\n - Anlegen einer Zählvariable - (_counter.akku_voll_). Wenn Akku voll, dann +1.  Ich will damit zählen wie oft der Akku auf 100% geht.  \r\n\r\nFolgende Entities werden verwendet:\r\n - sensor.electriclevel (Akku-Ladezustand, AB2000 SoC)\r\n - button.wechselrichter_ausschalten (Hoymiles WR)\r\n - button.wechselrichter_ansschalten (Hoymiles WR)\r\n - minVol (AB2000, MQTT)\r\n\r\n## Dokumentation\r\nDie Umsetzung erfolgte in Node-Red.\r\nSie besteht aus 4 Flows (und ein paar Hilfsflows).\r\n\r\n### 1. (drei) Hilfsflows\r\n 1. Der erste Hilfsflow setzt den Helfer _Letzte Kalibrierung_ auf den Wert 0 (eine Art Reset). Dieser Flow kann auch verwendet werden, um jeden anderen Wert einzustellen.\r\n 2. Mit dem zweiten Hilfsflow wird der WR auf AUS gesetzt. (_button.wechselrichter_ausschalten_)\r\n 3. Mit dem dritten Hilfsflow lässt sich der Akku abfragen (_electriclevel_)\r\n Alle drei Hilfsflows sind experimentell, anpassbar und werden für den Betrieb nicht benötigt.\r\n\r\n### 2. Überwachungsflow Akku 100%\r\nDer Flow wird mit Statuswechsel des Akkus auf 100% automatisch angestoßen. daercStaus muss min. 10 Min bestehen.\r\n\r\nIst er = 100% \r\n - wird der Helfer _Letzte Kalibierung_ auf \"0\" (heute) gesetzt.\r\n - wird der Wechselrichter auf AN gesetzt.\r\n - wird eine Nachricht in die Konsole geschrieben zum Akkustand 100%\r\n - wird eine Mail versendet zum Akkustand 100%\r\n - wird der Counter-Helfer _counter.akku_voll_ inkementiert.  Ich will damit zählen wie oft der Akku auf 100% geht.\r\n\r\nDieser Flow hebt damit eine (mögliche) Einspeisesperre auf, die im FLow 4 \"Überprüfung kritischer Werte\" und FLow 5 \"kritische Zellspannung\" gesetzt wird.\r\n\r\n### 3. Lade und Update des Helfers _Letzte Kalibrierung_\r\nDieser FLow wird täglich eine Stunde nach Sonnenaufgang ausgeführt.\r\nBedeutung: Wieviel Tage sind vergangen seit letzter Ladung auf 100%.\r\nHier wird der Helfer _Letzte Kalibierung_\r\n- um den Wert 1 erhöht\r\n\r\n### 4. Überprüfung kritischer Werte\r\n - wenn die minimale Zellspannung _minVol_ einen Wert unterschreitet (3,1V), oder\r\n - wenn der Wert der Helfervariable _letzte Kalibierung_ einen bestimmten Wert erreicht (hier im Beispiel den Wert 6), dann \r\n     - wird der Wechselrichter auf AUS gesetzt\r\n    \r\nDie Vergleichswerte für _minVol_ und _letzte_Kalibierung_ können natürlich in der entsprechenden Node geändert werden.\r\n\r\nDer Wert Wechselrichter AN/AUS ist flüchtig. \r\nDer WR  geht z.B.: in den Standby wenn keine Eingangsspannung anliegt. Die Einstellungen sind daher flüchtig. \r\nUm die Funktion sicherzustellen wird dieser Flow daher alle 60 Minuten aufgerufen. \r\nSind die Eingangsvoraussetzungen unverändert, werden die Einstellungen daher aufgefrischt.\r\n\r\n### 5. Alarm, wenn Zellspannung kritisch (unter 3,1V)\r\nDieser Flow überprüft die Zellspannung minVol.\r\nLiegt die Zellspannung unterhalb 3,1V\r\n    - wird der Wechselrichter auf AUS gesetzt\r\n    - wird eine Nachricht in die Konsole geschrieben\r\n    - wird eine Alarm-E-Mail versendet\r\n\r\nDer Flow kann auch manuell angesoßen werden, zur Überprüfung.\r\nDieser Flow setzt voraus, dass die Zellspannungsdaten des AB2000 im HA verfügbar gemacht werden.\r\n\r\n\r\n## Installation\r\nImportiere den Quellcode des Flows in Deine Node-Red-Instanz und passe die Namen der Entitäten an die NAmensgebung in Deiner HA-Instanz an.\r\nPasse die Parameter nach Deinen Wünschen an.",
        "env": []
    },
    {
        "id": "103dc338d37dba19",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Akkustatus überprüfen",
        "style": {
            "label": true
        },
        "nodes": [
            "5310d90eb9e34eff",
            "ece1b5e242f568da",
            "fa408e1fa4b7e848",
            "008622d155d33a6f",
            "e9ecaea2c1505d26",
            "0830d93383e59d3a",
            "99515c24b27fb232",
            "df1a51396cc15924",
            "514564445a70848a",
            "30f5db3f101436ed",
            "e50a07e5ffca56e5",
            "613ebba604841034",
            "1a2383e396129bfd",
            "18dc2ab015fd4e02",
            "de5f72f121bca456",
            "dcc5669987ecfaf3",
            "9a20c82c0a6c1ebf",
            "d0dde2acf1cb75c8",
            "254fb1f12881a797",
            "02bd0774f18ebf8e",
            "171954e778cd90ed"
        ],
        "x": 54,
        "y": 59,
        "w": 1212,
        "h": 422
    },
    {
        "id": "54839a68fcca4b36",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Hilfsflow 1, ReSet \"Letzte Kalibierung\" auf \"0\"",
        "style": {
            "label": true
        },
        "nodes": [
            "9d366c1bce391294",
            "e1600020487b026c",
            "c5fddd2b82d992db",
            "6b425c4a990d179d",
            "d5c4c61c4a6a57a1",
            "c09b3456562f6965",
            "b1dc413f2cea219e"
        ],
        "x": 54,
        "y": 1299,
        "w": 1012,
        "h": 122
    },
    {
        "id": "7014361d83c913c8",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Hilfsflow 2: Manuelles  Ausschalten des WR",
        "style": {
            "label": true
        },
        "nodes": [
            "69066ef11a95215a",
            "3cf6d21eb9d65a39",
            "a9d6cf072911476e"
        ],
        "x": 54,
        "y": 1439,
        "w": 1012,
        "h": 82
    },
    {
        "id": "ccf33a29674c6a92",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Alarm, kritische Zellspannung (unter 3.1V)",
        "style": {
            "label": true
        },
        "nodes": [
            "e2f65914858c276f",
            "b758bbd85af495c9",
            "680e518c16edb299",
            "80478c4c3d656be6",
            "3ad37083267c36f9",
            "1d0f490a6a490af8",
            "b4a23d8adb86cb1c",
            "d87ae5ce4d3d9e8f",
            "d68d1cf2e10b57c6",
            "c1ba31a944683268",
            "1e1b35845c66627a",
            "10a7a3021bbb3a4e"
        ],
        "x": 54,
        "y": 999,
        "w": 1212,
        "h": 202,
        "info": "wenn die Zellspannung MinVol unter einen Wert fällt (3,1V) dann wird der Wechselrichter geschlossen und eine Entladung des Akkus gestoppt."
    },
    {
        "id": "5be95441d82eac70",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Hilfsflow 3: Akkustatus abfragen",
        "style": {
            "label": true
        },
        "nodes": [
            "3e4b250991ed9237",
            "a7070e875e5ce758",
            "287fe6c0f7bb75be",
            "6a8c3d50ceb3b125",
            "78dbe8250b3ac0ef"
        ],
        "x": 54,
        "y": 1539,
        "w": 1012,
        "h": 122
    },
    {
        "id": "cfc155f0234869fb",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Prüfe und Update letzte Kalibierung (einmal täglich)",
        "style": {
            "label": true
        },
        "nodes": [
            "0bd29e25a3368fe1",
            "0a8e29cbf690c247",
            "38a9f11a5f14ef80",
            "0664f9615f779794",
            "20a2e36b5705230d",
            "bc47b14626a6b329",
            "8c5010cf360f0d2a",
            "50ceccc82432949e",
            "c5be6868ecbc2eb2",
            "8ecaa17e8ee3367a",
            "6baede5f0d51dbaf"
        ],
        "x": 54,
        "y": 499,
        "w": 1212,
        "h": 202
    },
    {
        "id": "2ea0bae458ce7f13",
        "type": "group",
        "z": "3d2a81e3c1ae2c8c",
        "name": "Frage kritische Werte ab (minVol und letzte Kalibrierung und stoppe ggf. Einspeisung)",
        "style": {
            "label": true
        },
        "nodes": [
            "32244a8c595eb0a3",
            "60883a3c02850b43",
            "822244a8ca19e317",
            "b883b9022ae9fd4b",
            "3c6433a1326b5cb7",
            "e60de2552765fe72",
            "beed669ace0790c1",
            "b2c5e71d93474e66",
            "d4a7eb17a5d5c46c",
            "63af0906fe3ec7b4"
        ],
        "x": 54,
        "y": 739,
        "w": 1212,
        "h": 242
    },
    {
        "id": "0bd29e25a3368fe1",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Plus Eins",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.increment",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.letzte_kalibrierung"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "blockInputOverrides": false,
        "domain": "input_number",
        "service": "increment",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "8c5010cf360f0d2a"
            ]
        ]
    },
    {
        "id": "0a8e29cbf690c247",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Status",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.letzte_kalibrierung",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "0bd29e25a3368fe1"
            ]
        ]
    },
    {
        "id": "ece1b5e242f568da",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "5310d90eb9e34eff"
            ]
        ]
    },
    {
        "id": "38a9f11a5f14ef80",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Set: Letzte Kalibrierung =+ 1d",
        "info": "eine in HA definierte Helfer Entität",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "008622d155d33a6f",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Heute: 100%",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.letzte_kalibrierung"
        ],
        "labelId": [],
        "data": "{ \"value\": 0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 770,
        "y": 440,
        "wires": [
            [
                "514564445a70848a"
            ]
        ]
    },
    {
        "id": "514564445a70848a",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 440,
        "wires": []
    },
    {
        "id": "1a2383e396129bfd",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Set Letzte Kalibrierung auf Heute == 0",
        "info": "eine in HA definierte Helfer Entität",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa408e1fa4b7e848",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Status Akku",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "100",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.electriclevel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "008622d155d33a6f",
                "e9ecaea2c1505d26",
                "0830d93383e59d3a",
                "df1a51396cc15924"
            ],
            [
                "99515c24b27fb232"
            ]
        ]
    },
    {
        "id": "613ebba604841034",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Akku auf 100%?",
        "info": "eine in HA definierte Helfer Entität",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "0664f9615f779794",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "0a8e29cbf690c247"
            ]
        ]
    },
    {
        "id": "20a2e36b5705230d",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Manueller Start ",
        "info": "eine in HA definierte Helfer Entität",
        "x": 160,
        "y": 620,
        "wires": []
    },
    {
        "id": "9d366c1bce391294",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "c5fddd2b82d992db"
            ]
        ]
    },
    {
        "id": "e1600020487b026c",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.letzte_kalibrierung"
        ],
        "labelId": [],
        "data": "{ \"value\": 0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "6b425c4a990d179d"
            ]
        ]
    },
    {
        "id": "c5fddd2b82d992db",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "Letzte Kalibrierung",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.letzte_kalibrierung",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "1",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "e1600020487b026c"
            ]
        ]
    },
    {
        "id": "6b425c4a990d179d",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d5c4c61c4a6a57a1",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "manuell",
        "info": "eine in HA definierte Helfer Entität",
        "x": 150,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c09b3456562f6965",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "Setze auf Null = Heute",
        "info": "eine in HA definierte Helfer Entität",
        "x": 700,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e9ecaea2c1505d26",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Notify WR 100%",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "notify.persistent_notification",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{payload}}\",\"title\":\"Akkustand\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "persistent_notification",
        "x": 900,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "99515c24b27fb232",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "02bd0774f18ebf8e",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "WR Ein",
        "info": "eine in HA definierte Helfer Entität",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1dc413f2cea219e",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "54839a68fcca4b36",
        "name": "Hole letzte Kalibrierung",
        "info": "eine in HA definierte Helfer Entität",
        "x": 420,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bc47b14626a6b329",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Notify Letzte Kalibrierung",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "notify.persistent_notification",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{payload}}\",\"title\":\"Letzte Kalibrierung\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "persistent_notification",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5310d90eb9e34eff",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Status",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "input_number.letzte_kalibrierung",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "fa408e1fa4b7e848"
            ],
            [
                "de5f72f121bca456"
            ]
        ]
    },
    {
        "id": "0830d93383e59d3a",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Hole Counter",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "counter.akku_voll",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "30f5db3f101436ed"
            ]
        ]
    },
    {
        "id": "30f5db3f101436ed",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "counter.increment",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "counter.akku_voll"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "counter",
        "service": "increment",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ],
        "info": "zähle wie oft der akku auf 100 geladen wurde."
    },
    {
        "id": "df1a51396cc15924",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "WR EIn",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": true,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.wechselrichter_einschalten"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e50a07e5ffca56e5",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Zähler: wie oft 100% erreicht wurden",
        "info": "eine in HA definierte Helfer Entität",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "69066ef11a95215a",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "7014361d83c913c8",
        "name": "WR Aus",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": true,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.wechselrichter_ausschalten"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 380,
        "y": 1480,
        "wires": [
            [
                "a9d6cf072911476e"
            ]
        ]
    },
    {
        "id": "3cf6d21eb9d65a39",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "7014361d83c913c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1480,
        "wires": [
            [
                "69066ef11a95215a"
            ]
        ]
    },
    {
        "id": "a9d6cf072911476e",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "7014361d83c913c8",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 960,
        "y": 1480,
        "wires": []
    },
    {
        "id": "e2f65914858c276f",
        "type": "change",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "From SolarFlow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Min-Vol ist  \" &\tdata.state &\t\"V.\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Message from Solarflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "680e518c16edb299",
                "1d0f490a6a490af8",
                "1e1b35845c66627a"
            ]
        ]
    },
    {
        "id": "b758bbd85af495c9",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "3.1",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.solarflow_batterie_1_minvol",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "e2f65914858c276f",
                "b4a23d8adb86cb1c"
            ],
            []
        ]
    },
    {
        "id": "680e518c16edb299",
        "type": "e-mail",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "MAIL@DOMÄNE",
        "dname": "send",
        "x": 1130,
        "y": 1140,
        "wires": []
    },
    {
        "id": "80478c4c3d656be6",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "3ad37083267c36f9"
            ]
        ]
    },
    {
        "id": "3ad37083267c36f9",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "3.1",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.solarflow_batterie_1_minvol",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "e2f65914858c276f"
            ],
            [
                "e2f65914858c276f"
            ]
        ]
    },
    {
        "id": "1d0f490a6a490af8",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Notify MinVol",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "notify.persistent_notification",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"{{payload}}\",\"title\":\"Zellspannung Min.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "persistent_notification",
        "x": 1150,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "b4a23d8adb86cb1c",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "WR Aus",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": true,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.wechselrichter_ausschalten"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 840,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "18dc2ab015fd4e02",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "100",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.electriclevel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "10",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "0830d93383e59d3a",
                "df1a51396cc15924",
                "e9ecaea2c1505d26",
                "008622d155d33a6f",
                "d0dde2acf1cb75c8",
                "171954e778cd90ed"
            ],
            []
        ]
    },
    {
        "id": "de5f72f121bca456",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "dcc5669987ecfaf3",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Akku auf 100% für 10 Min?",
        "info": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a20c82c0a6c1ebf",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Nur manuelle (Test)Auslösung",
        "info": "",
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e4b250991ed9237",
        "type": "change",
        "z": "3d2a81e3c1ae2c8c",
        "g": "5be95441d82eac70",
        "name": "From SolarFlow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Akku ist bei  \" &\tdata.state &\t\"%.\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Message from Solarflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1580,
        "wires": [
            [
                "6a8c3d50ceb3b125",
                "78dbe8250b3ac0ef"
            ]
        ]
    },
    {
        "id": "a7070e875e5ce758",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "5be95441d82eac70",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.electriclevel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 1580,
        "wires": [
            [
                "3e4b250991ed9237"
            ]
        ]
    },
    {
        "id": "287fe6c0f7bb75be",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "5be95441d82eac70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1580,
        "wires": [
            [
                "a7070e875e5ce758"
            ]
        ]
    },
    {
        "id": "6a8c3d50ceb3b125",
        "type": "debug",
        "z": "3d2a81e3c1ae2c8c",
        "g": "5be95441d82eac70",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1580,
        "wires": []
    },
    {
        "id": "d0dde2acf1cb75c8",
        "type": "change",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "From SolarFlow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Akku ist bei  \" &\tdata.state &\t\"%.\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Message from Solarflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "254fb1f12881a797"
            ]
        ]
    },
    {
        "id": "254fb1f12881a797",
        "type": "e-mail",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "MAIL@DOMÄNE",
        "dname": "send",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "78dbe8250b3ac0ef",
        "type": "e-mail",
        "z": "3d2a81e3c1ae2c8c",
        "g": "5be95441d82eac70",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "MAIL@DOMÄNE",
        "dname": "send",
        "x": 950,
        "y": 1620,
        "wires": []
    },
    {
        "id": "d87ae5ce4d3d9e8f",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Automatischer Auslöser",
        "info": "",
        "x": 400,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d68d1cf2e10b57c6",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Nachricht basteln",
        "info": "",
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c1ba31a944683268",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Prüfe MinVol",
        "info": "",
        "x": 370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1e1b35845c66627a",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Notify WR aus",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "notify.persistent_notification",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"Wechselrichter aus\",\"title\":\"Akkuladung priorisiert\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "persistent_notification",
        "x": 1160,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "8c5010cf360f0d2a",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Status",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.letzte_kalibrierung",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 810,
        "y": 580,
        "wires": [
            [
                "bc47b14626a6b329"
            ]
        ]
    },
    {
        "id": "50ceccc82432949e",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Hole Wert letzte Kalibrierung",
        "info": "eine in HA definierte Helfer Entität",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "c5be6868ecbc2eb2",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "Speichere Wert letzte Kalibrierung",
        "info": "",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "8ecaa17e8ee3367a",
        "type": "server-state-changed",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "",
        "server": "285afb99.5208c4",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.sun_next_rising"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "60",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 230,
        "y": 580,
        "wires": [
            [
                "0a8e29cbf690c247"
            ]
        ]
    },
    {
        "id": "6baede5f0d51dbaf",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "cfc155f0234869fb",
        "name": "1h nach Sonnenaufgang",
        "info": "eine in HA definierte Helfer Entität",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "32244a8c595eb0a3",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "letzte Kalibrierung >6?",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "6",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "input_number.letzte_kalibrierung",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 880,
        "wires": [
            [
                "d4a7eb17a5d5c46c"
            ],
            [
                "63af0906fe3ec7b4"
            ]
        ]
    },
    {
        "id": "60883a3c02850b43",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "Check >=6? ",
        "info": "eine in HA definierte Helfer Entität",
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "822244a8ca19e317",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "WR Aus",
        "info": "eine in HA definierte Helfer Entität",
        "x": 1180,
        "y": 780,
        "wires": []
    },
    {
        "id": "b883b9022ae9fd4b",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "WR Aus",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": true,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.wechselrichter_ausschalten"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 1140,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3c6433a1326b5cb7",
        "type": "inject",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "beed669ace0790c1"
            ]
        ]
    },
    {
        "id": "e60de2552765fe72",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "täglich alle 60 Min",
        "info": "",
        "x": 170,
        "y": 780,
        "wires": []
    },
    {
        "id": "beed669ace0790c1",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "minVol <3.1V?",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "3.1",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.solarflow_batterie_1_minvol",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "b883b9022ae9fd4b"
            ],
            [
                "32244a8c595eb0a3"
            ]
        ]
    },
    {
        "id": "b2c5e71d93474e66",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "Prüfe MinVol <3.1",
        "info": "",
        "x": 370,
        "y": 780,
        "wires": []
    },
    {
        "id": "171954e778cd90ed",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "103dc338d37dba19",
        "name": "Logging",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "logbook.log",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"name\":\"Akku\",\"message\":\"100%\",\"entity_id\":\"sensor.solarflow_batterie_1_soclevel\",\"domain\":\"sensor\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "logbook",
        "service": "log",
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "10a7a3021bbb3a4e",
        "type": "comment",
        "z": "3d2a81e3c1ae2c8c",
        "g": "ccf33a29674c6a92",
        "name": "Manueller Start ",
        "info": "eine in HA definierte Helfer Entität",
        "x": 160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d4a7eb17a5d5c46c",
        "type": "api-current-state",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "SOC<41",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 2,
        "halt_if": "41",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.electriclevel",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 860,
        "wires": [
            [
                "b883b9022ae9fd4b"
            ],
            [
                "63af0906fe3ec7b4"
            ]
        ]
    },
    {
        "id": "63af0906fe3ec7b4",
        "type": "api-call-service",
        "z": "3d2a81e3c1ae2c8c",
        "g": "2ea0bae458ce7f13",
        "name": "WR Ein",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": true,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.wechselrichter_einschalten"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 1140,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "285afb99.5208c4",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
