Testflow_WR_Shelly
[
    {
        "id": "4f0f9a22585f6a58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40b5b45932eb0501",
        "type": "group",
        "z": "4f0f9a22585f6a58",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "708085d40aaa16fc",
            "61a4df4e201b02d1",
            "fc843f00030ac94c",
            "781855c1f2fd0557",
            "0619e19582c9a031",
            "23eb4de15b4fe68d",
            "1452a25e7caf8f0d",
            "8c3b8a4b97b88e90",
            "f7f5ab2b5033e257"
        ],
        "x": 154,
        "y": 159,
        "w": 1012,
        "h": 242
    },
    {
        "id": "708085d40aaa16fc",
        "type": "function",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "Setze WR auf 100W Ausgang",
        "func": "let regelwert = 266; // in Watt\nlet wrmax = 800; //MAX- WR\nregelwert = (regelwert / wrmax * 100); // in %\nmsg.payload = regelwert;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "61a4df4e201b02d1",
                "23eb4de15b4fe68d"
            ]
        ]
    },
    {
        "id": "61a4df4e201b02d1",
        "type": "api-call-service",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "Setze Hoymiles WR",
        "server": "285afb99.5208c4",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.dtu_leistungsbegrenzung"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{ payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 940,
        "y": 280,
        "wires": [
            [
                "1452a25e7caf8f0d"
            ]
        ]
    },
    {
        "id": "fc843f00030ac94c",
        "type": "api-current-state",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "Shelly3EM Power",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.shellypro3em_phase_a_active_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "708085d40aaa16fc",
                "0619e19582c9a031"
            ]
        ]
    },
    {
        "id": "781855c1f2fd0557",
        "type": "inject",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "fc843f00030ac94c",
                "8c3b8a4b97b88e90"
            ]
        ]
    },
    {
        "id": "0619e19582c9a031",
        "type": "debug",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "23eb4de15b4fe68d",
        "type": "debug",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "1452a25e7caf8f0d",
        "type": "debug",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c3b8a4b97b88e90",
        "type": "api-current-state",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "Shelly1PM Home?",
        "server": "285afb99.5208c4",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "device_tracker.solarhub",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "f7f5ab2b5033e257"
            ]
        ]
    },
    {
        "id": "f7f5ab2b5033e257",
        "type": "debug",
        "z": "4f0f9a22585f6a58",
        "g": "40b5b45932eb0501",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "285afb99.5208c4",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    }
]
